.support-container {
  font-family: "Montserrat", sans-serif;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #ffffff;
}

.support-title {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
  font-size: 0.9em;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif; /* Додаємо тут */
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  display: block; /* Щоб кнопка займала всю доступну ширину */
  margin: 15px auto 0; /* Відступи зверху та знизу, auto по боках для центрування */
  font-family: "Montserrat", sans-serif; /* Додано шрифт Монтсеррат */
  font-weight: 600; /* За бажанням, можна додати напівжирне накреслення */
}

.submit-button:hover {
  background-color: #333;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}

/* Адаптація для планшетів */
@media (max-width: 768px) {
  .support-container {
    margin: 20px;
    padding: 15px;
  }

  .support-title {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group textarea {
    font-size: 0.85em;
  }

  .submit-button {
    font-size: 0.95em;
    padding: 8px 12px;
  }
}

/* Адаптація для телефонів */
@media (max-width: 480px) {
  .support-container {
    margin: 15px;
    padding: 10px;
  }

  .support-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .form-group label {
    font-size: 0.8em;
  }

  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group textarea {
    font-size: 0.8em;
  }

  .submit-button {
    font-size: 0.9em;
    padding: 7px 10px;
  }
}
